{% extends 'Libreria/padre.html' %}

{% load static %}

{% block contenidoModificable %}

<h1>Registrar un libro</h1>

{% endblock %}

{% block contenido2 %}

{% if miFormulario.errors %}

<p style="color:crimson" >Datos incorrectos</p>

{% endif %}

<form action="" method="POST"> {% csrf_token %}
    
    <table>
            
        {{miFormulario.as_table}}

    </table>

    <input type="submit" value="Crear">

    <p> <a href="{% url 'ListLibros' %}"> Lista</a> </p>
       
</form>

{% endblock %}